/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body{
  background-color: #F8F8FA;

}

/* Custom properties */
:root{
  --clr-primary: #5A31FC;
}
/* header */

header{
  display: flex;
  flex-wrap: wrap-reverse;
  background-color: #4617FE;
  position: relative;
  justify-content: space-between;
}

nav{
  
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin: 1.5em 3em;
  font-size: .8rem;
  color: #fff;
  position: absolute;
  top: 2em;
  right: 4%;
}
.nav-item{
  padding: .4em 1.3em;
}
.nav-item-active{
  padding: .4em .5em;
  color: #000;
  background-color: #fff;
  border-radius: 3px;
}
.logo{
  position: absolute;
  top: 40px;
  left: 6.4%;
}
.header-text{
  color: #fff;
  font-size: 1.5em;
  /* position: relative; */
  background-color: #566568;
  /* right: 70px; */
  margin: 5em 0;
  margin-left: -2%;
  width: 40%;
  margin-right: 2em;
}
.header-text p{
  font-size: 1rem;
}
.header-image{
  position: relative;
  top: 7em;
  right: 110px;
  width: 130%;
  /* overflow: hidden; */
}


@media (max-width:690px) {
  .nav-item{
    display: none;
  }
}

@media (max-width:1114px) {
  .header-image{
    margin: 0 auto;
    left: 0;
    width: 97%;
  }
  
  
  .header-text{
    width: 100%;
  }

  header{
    justify-content: center;
  }
  .header-text{
    margin-left: 2em;
  }
}


/* API section */

.company-items{
  color: #000;
  text-decoration: none;
  font-weight: bold;
  margin: 3em;
}

.companies{
  margin: 2em 0;
}


.api{
  width: 93%;
  margin: 5em auto;
  
}
.api-heading{
  margin: 1em 0;
}
.cards{
  display: flex;
  justify-content: space-between;
}
.card-active{
  padding: 2em 1em;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px #999;
  
}
.card-head-active{
  color: var(--clr-primary);
}
.card{
  padding: 3em 1.5em;
  
}
.fa-chevron-right{
  background-color: var(--clr-primary);
  color: #fff;
  padding: .5em .7em;
  font-size: 1.5rem;
  border-radius: 50%;
  position: relative;
  top: 50px;
  left: -20px;
}
.card-body{
  font-size: .8rem;
}

@media (max-width:760px) {
  .card:last-child{
    display: none;
  }

  .cards{
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    /* background-color: green; */
  }

  .company-items{
    margin: 3vw;
  }


}

/* Blog Section */

.blog-heading{
  margin: 1.5em;
}

.blog-right{
  color: var(--clr-primary);
  position: absolute;
  top: -5rem;
  right: 3rem;
  
}
.blog-cards{
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 5%;
  margin: 0 4%;
}
.blog-card{
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  align-items: center;
  gap: 3em;
}

.blog-image{
  width: 100%;
  align-self: flex-start;
}

.blog-content{
  width: 140%;
  margin-left: 2em;
  margin-bottom: 4.5em;
}

.blog-author{
  position: absolute;
  right: 1em;
  bottom: 1em;
  width: 8rem;
}

.blog-bottom{
  position: absolute;
  bottom: .5rem;
  right: 10.7rem;
}

.blog-image img{
  width: 130%;
}

@media (max-width:900px) {
  .blog-cards{
    flex-wrap: wrap;
    
  }

  .blog-image img{
    width: 77%;
  }

  .blog-content{
    width: 100%;
    margin-left: -5em;
  }
  .blog-card{
    justify-content: space-evenly;
    align-items: flex-start;
  }
}

/* FAQ Section */
.faq-section{
  display: flex;
  justify-content: space-between;
  background-color: #E9EDFF;
  margin: 5em 0;

}
.faq-content{
  background-color: #E9EDFF;
  margin-left: 3em;
  
}
.faq-section h2{
  font-size: 2.5rem;
}
.faq-section h4{
  font-size: .9rem;
}
.faq-content h4:last-of-type{
  font-size: 1.2rem;
  margin-top: 2em;
}

.faq-image{
  background-color: #E9EDFF;

  
}
.faq-image img{
  height: 100%;
  width: 100%;
  
} 
.faq-content button{
  background-color: var(--clr-primary);
  border: none;
  padding: .7em 1.2em;
  border-radius: 5px;
  color: #fff;
  margin-top: 1em;
}

@media (max-width:850px) {
  .faq-section{
    flex-direction: column;
  }
  .faq-content{
    margin-left: 1.5em;
  }
}

/* Download Section */
.download-section{
  display: flex;
  justify-content: space-between;
  margin: 3em;
  
}

.download-content span{
  font-weight: 100;
}

.download-content{
  width: 100%;
}

.download-email{
  width: 100%;
  position: relative;
  margin-right: 1em;
}

.download-email input{
  height: 50px;
  width: 100%;
  background-color:#E9EDFF;
  border-radius: 30px;
  padding-left: 4%;
}
input::placeholder{
  color: #000;
  font-size: 1rem;
}
.download-email button{
  padding: .9em 10%;
  background-color: var(--clr-primary);
  color: #fff;
  border-radius: 30px;
  font-size: 1rem;
  border: none;
  position: absolute;
  right: -5%;
  top: 1px;

}

@media (max-width:930px) {
  

  .download-section{
    flex-wrap: wrap;
  }
}

@media (max-width:460px) {
  .download-email button{
    right: 46%;
    top: 3.8rem;
  }

  .download-section{
    margin-top: -5rem;
    padding: 1em 0;
  }
}

/* footer section */
.footer-section{
  display: flex;
  justify-content: space-between;
  background-color: #4617FE;
}
.footer-left{
  margin: 2em;

}
.list{
  display: flex;
  list-style: none;
  color: #fff;
  margin-top: 1em;
}
.list-items{
  padding: 0 10px;
  line-height: 1;
  margin-top: 1em 0;

}

.footer-logos{
  padding-left: 1em;
}
.logos-list{
  padding-top: 1em;
  color: #fff;
  list-style: none;
  display: flex;
}
.list-items{
  border-right: 2px solid #fff;
  margin: px 0;
}
.footer-right{
  margin-top: 2em;
  margin-right: 2em;
}
.footer-rights{
  margin-left: 1.2em;
}
.no-border{
  border: none;
}


@media (max-width:710px){
  .list{
    display: none;
  }
  .footer-logo,
  .footer-logos{
    max-width: 100%;
  }

}